<% if @cart.line_items.empty? %>
  <div id="empty_message">
    <h3>Cart is empty.</h3>
  </div>
<% end %>
<div id="line-items-container" >
  <% @cart.line_items.each do |line_item| %>
    <div class="line-item-card" data-lineitemid="<%= line_item.id %>" >
      <%= line_item.product.name %>
      <span class='product-price' data-lineitemid="<%= line_item.id %>"><%= line_item.product.formatted_price %></span> x
      <span class='line-item-quantity' data-lineitemid="<%= line_item.id %>"><%= line_item.quantity %></span> =
      <span class='line-item-total' data-lineitemid="<%= line_item.id %>"><%= line_item.formatted_item_total %></span>
      <%= simple_form_for line_item, data: { lineitemid: line_item.id } do |f| %>
        <%= f.select(:quantity, options_for_select(0..line_item.product.stock, selected: line_item.quantity)) %>
        <%= f.submit 'Update', data: {disable_with: false} %>
      <% end %>
    </div>
  <% end %>
</div>
<%= tag.div id:'item_total' do %>
  <h4>Total: <%= @cart.formatted_total %></h4>
<% end %>
