<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceSiteProject</title>
    <%= render partial: 'layouts/csrf' %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <% if current_page?(controller: '/home', action: 'index') %>
      <div class="container-fluid">
        <div class="w-100">
          <%= image_tag('sale_banner.jpg', class: 'w-100 mb-2') %>
        </div>
      </div>
    <% end %>
    <div id="nav">
      <%= render partial: 'layouts/navbar' %>
    </div>

    <p class="notice text-center text-success"><%= notice %></p>
    <p class="alert text-center text-danger"><%= alert %></p>
    <div id='form-container'></div>
    <div id="main">
      <%= yield %>
    </div>

  </body>
</html>
