<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceSiteProject</title>
    <%= render partial: 'layouts/csrf' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

    <div id="nav">
      <%= render partial: 'layouts/navbar' %>
    </div>

    <p class="notice text-center text-success"><%= notice %></p>
    <p class="alert text-center text-danger"><%= alert %></p>
    <div id='form-container'></div>
    <div id="main">
      <%= yield %>
    </div>

  </body>
</html>
